body {
    background-color: slategray;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
  }
  
  nav {
    background-color: #673FD7;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
  }
  
  nav li a:hover {
    background-color: #551e75;
    border-radius: 4px;
  }
  
  #breed-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .button-89 {
    --b: 3px;  
    --s: .45em;
    --color: #4700b9;
  
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px; 
  }
  
  .button-89:hover,
  .button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
  
  #carousel {
    width: 612px;
    height: 612px;
    margin: 0 auto; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #carousel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    display: block;
    margin: 0 auto;
  }
  
  #breed-info {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #5e4972;
    border: 1px solid #ccc;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hidden {
    display: none;
  }
  .audio-box {
    width: 80%;     
    max-width: 600px;     
    margin: 20px auto;        
    padding: 10px;
    background-color:rgb(120, 55, 194);
    border: 3px solid #000000;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
  }
  